
# this file is important for building the docker image,
# preventing all files from being copies into it,
# except the ones defined below.

# Ignore:
# **/*

# Keep: npm
# !./babel.config.js
 #!./package.json
# !./package-lock.json
# !./src/**/*
# !./public/**/*
# !./tests/**/*
# !./vue.config.js

node_modules
dist
