
/* This file is imported globally in "main.js" or "App.vue" */

/* ========================================================================== */
/* Vars                                                                       */
/* ========================================================================== */

/*
 * Global CSS variables. Usage eg:
 *   color: var(--text-color);
 */
:root{

  /* OFFICIAL COLORS */

  --color-wits-blue: #003B5C;
  --color-wits-gold: #B18D5B;
  --color-wits-yellow: #FFB81C;

  --color-wits-engineering: #9B2242;
  --color-wits-humanities: #FFA300;
  --color-wits-commerce: #44883E;
  --color-wits-health: #007377;
  --color-wits-science: #0057B8;

  /* CUSTOM COLORS */

  --color-wits-blue-light: #004868;
  --color-wits-blue-dark: #002d4d;
}
